<svg:rect *ngIf="node"
          [attr.x]="node.position.x"
          [attr.y]="node.position.y"
          [attr.width]="node.width"
          [attr.height]="node.height"
          (mousedown)="handleMouseDown($event)"
          [ngStyle]="node.styleObject"
>
</svg:rect>

<svg:g *ngIf="node && isInCreateMode()" clickable-attachment-points [node]="node"></svg:g>

<svg:g *ngIf="node && isInSelectMode()" clickable-resize-points [node]="node"></svg:g>

<svg:g basic-node-text [node]="getNode()"></svg:g>
