<div (keyup)="handleKeyPressed($event)">
  <app-nav-bar></app-nav-bar>

  <div class="row d-flex">
    <div class="flex-grow-1">
      <svg width="1200"
           height="800"
           [attr.viewBox]="zoomSerivce.getViewBox()"
           (mousedown)="handleMouseDown($event)"
           (mouseup)="handleMouseUp($event)"
           (mousemove)="handleMouseMove($event)"
           (dblclick)="handleDoubleClick($event)"
           (mousewheel)="zoom($event)"
           (DOMMouseScroll)="zoomFirefox($event)"
           id="diagram"
      >
        <g drag-drop-preview></g>
        <g new-edge-preview></g>
        <defs arrow-marker></defs>
        <g *ngFor="let edge of diagram.edges; let i = index"
           edge-component [(edge)]="diagram.edges[i]" (edgeChange)="diagram.edges[i]=$event"></g>

        <g *ngFor="let node of diagram.nodes" node-component [node]="node"/>
        <g selected-node-highlight/>
        <g drag-select-preview/>
      </svg>
    </div>
    <creation-sidebar></creation-sidebar>
  </div>
</div>

<canvas id="canvas" viewbox></canvas>
<!--<button class="btn btn-outline-primary" (click)="do()">Do</button>-->
<!--<button class="btn btn-outline-primary" (click)="restore()">Restore Local Storage</button>-->


<!--<span *ngFor="let x of greekNumbers()" [innerHTML]="x">-->
<!--</span>-->


