<div class="container-fluid" (keyup)="handleKeyPressed($event)">
  <div class="row d-flex">
    <div class="flex-grow-1">
      <svg width="1200"
           height="600"
           viewBox="0 0 1200 600"

           (mouseup)="handleMouseUp($event)"
           (mousemove)="handleMouseMove($event)"
           (dblclick)="handleDoubleClick($event)"

           id="diagram"
        >
<!--        <g sequence-diagram [diagram]="seq"></g>-->


        <g new-edge-preview></g>
        <!--  Define markers-->
        <defs arrow-marker></defs>
        <g *ngFor="let edge of diagram.edges; let i = index"
           edge-component [(edge)]="diagram.edges[i]" (edgeChange)="diagram.edges[i]=$event"></g>
        <g node-dispatcher [nodes]="diagram.nodes"></g>
      </svg>
    </div>
    <div style="width: 400px">
      <app-mode-selector></app-mode-selector>
      <app-selected-editor *ngIf="mode === Mode.Select"></app-selected-editor>
      <app-creation-menu *ngIf="mode === Mode.Create"></app-creation-menu>
      <app-move-menu *ngIf="mode === Mode.Move"></app-move-menu>
    </div>
  </div>
</div>

<canvas id="canvas" viewbox></canvas>

<app-diagram-download [diagram]="diagram"></app-diagram-download>
<app-export-diagram></app-export-diagram>
<app-diagram-import (diagramEmitter)="setDiagram($event)"></app-diagram-import>
<button class="btn btn-outline-primary" (click)="undo()">Undo</button>
<button class="btn btn-outline-primary" (click)="redo()">Redo</button>
<button class="btn btn-outline-primary" (click)="do()">Do</button>
<button class="btn btn-outline-primary" (click)="restore()">Restore Local Storage</button>



