.form-control.valid {
  border-color: #108f32;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #108f32;
}

.form-control.invalid {
  border-color: #ff2929;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #ff2929;
}
