<svg:g *ngIf="node?.formatter">
  <!-- Text rendering -->
  <svg:text [attr.x]="node!.formatter!.position.x + node!.formatter!.width / 2"
            [attr.y]="node!.formatter!.position.y + node!.formatter!.height / 2"
            dominant-baseline="middle"
            text-anchor="middle"
            font-family="Comic Sans MS, Helvetica, sans-serif">
    {{ node!.texts[0] }}
  </svg:text>

  <!--  Rectangle rendering-->
  <svg:rect *ngIf="node?.formatter && isRectangle()"
    [attr.x]="node!.formatter!.position.x"
    [attr.y]="node!.formatter!.position.y"
    [attr.width]="node!.formatter!.width"
    [attr.height]="node!.formatter!.height"
    (mousedown)="handleMouseDown($event)"
    (dblclick)="handleDoubleClick($event)"
    style="fill:pink;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9"
    class="movable"
  >
  </svg:rect>

  <!-- Ellipse rendering -->
  <svg:ellipse *ngIf="node?.formatter && isEllipse()"
               (mousedown)="handleMouseDown($event)"
               (dblclick)="handleDoubleClick($event)"
               [attr.cx]="node!.formatter!.position.x + node!.formatter!.width / 2"
               [attr.cy]="node!.formatter!.position.y + node!.formatter!.height / 2"
               [attr.rx]="node!.formatter!.width / 2"
               [attr.ry]="node!.formatter!.height / 2"
               style="fill:pink;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9"
               class="movable"
  >
  </svg:ellipse>

  <!-- Diamond rendering -->
  <svg:polyline *ngIf="node?.formatter && isDiamond()"
               [attr.points]="getDiamondPoints()"
               (mousedown)="handleMouseDown($event)"
               (dblclick)="handleDoubleClick($event)"
               style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.0;stroke-opacity:0.9"
               class="movable"
  >
  </svg:polyline>

  <svg:ellipse *ngFor="let pos of getAllAttachmentPoints()"
               [attr.cx]="pos.x"
               [attr.cy]="pos.y"
               cx="10"
               cy="10"
               rx="5"
               ry="5"
               style="fill:pink;stroke:black;stroke-width:2;fill-opacity:0.5;stroke-opacity:0.9"
  >
  </svg:ellipse>
</svg:g>
