<svg:text *ngIf="formatter"
          [attr.x]="formatter.position.x"
          [attr.y]="formatter.position.y"
          (mousedown)="handleMouseDown($event)"
          (dblclick)="handleDoubleClick($event)"
          [ngClass]="{'Movable': isInMoveMode()}"
          dominant-baseline="middle"
          text-anchor="middle"
          font-family="Comic Sans MS, Helvetica, sans-serif"
          class="movable">
      <svg:tspan  *ngFor="let label_line of lineBreakLabel()"  [attr.x]= "formatter.position.x" dy="1.2em" >{{label_line}}</svg:tspan>

</svg:text>
<svg:text>{{label}}</svg:text>
