<svg:text *ngIf="label"
          [attr.x]="label.position.x"
          [attr.y]="label.position.y"
          (mousedown)="handleMouseDown($event)"
          (dblclick)="handleDoubleClick($event)"
          [ngClass]="{'movable': isInMoveMode()}"
          dominant-baseline="middle"
          text-anchor="middle"
          font-family="Comic Sans MS, Helvetica, sans-serif">
      <svg:tspan *ngFor="let labelLine of lineBreakLabel()" [attr.x]="label.position.x" dy="1.2em">
        {{labelLine}}
      </svg:tspan>
</svg:text>
