<div *ngIf="node">
  <div class="form-group row px-3">
    <label class="w-25 col-form-label">Width</label>
    <div class="w-75">
      <input class="w-100" type="number" [(ngModel)]="node.width" (ngModelChange)="cache()">
    </div>
  </div>



  <div class="form-group row px-3">
    <label class="w-25 col-form-label" >Node Text</label>
    <div class="w-75">
      <input matInput matTextareaAutosize class="w-70" [(ngModel)]="node.text" (ngModelChange)="cache()"/> <label class="30">('\n' = new line)</label>
    </div>
  </div>

  <div class="form-group row px-3">
    <label class="w-25 col-form-label" >Double Border</label>
    <div class="w-75">
      <input type="checkbox" [(ngModel)]="node.hasDoubleBorder" (ngModelChange)="cache()"></div>
  </div>


  <div  class="form-group row px-3" *ngFor="let key of node.styleKeys">
    <label class="w-25 col-form-label">{{key}}</label>
    <div class="w-75">
      <input class="w-100" type="text" [(ngModel)]="node.styleObject[key]" (ngModelChange)="cache()">
    </div>
  </div>

  <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
</div>
