<svg:rect *ngIf="lifeline"
  [attr.x]="getX()"
  [attr.y]="20"
  width="150"
  height="75"
  style="stroke: black; stroke-width: 1; fill: none;"
>
</svg:rect>


<svg:line *ngFor="let connection of getLineSegments()"
          [attr.x1]="getCenterX()"
          [attr.x2]="getCenterX()"
          [attr.y1]="connection[0]"
          [attr.y2]="connection[1]"
          style="stroke: black; stroke-width: 1"
          stroke-dasharray="12, 2"
></svg:line>

<svg:rect *ngFor="let seg of getActiveSegments()"
  [attr.x]="getCenterX() - RENDERING.activeBlockWidth / 2"
  [attr.y]="seg[0]"
  [attr.width]="RENDERING.activeBlockWidth"
  [attr.height]="seg[1] - seg[0]"
  style="stroke: black; stroke-width: 1; fill: none;"
>
</svg:rect>
