<svg:g>
  <svg:rect
            [attr.x]="node.position.x"
            [attr.y]="node.position.y"
            [attr.width]="node.width"
            [attr.height]="node.height"
            [ngStyle]="node.styleObject"
  >
  </svg:rect>


  <svg:g *ngIf="editService.getEditable() != node">
    <svg:text *ngFor="let line of node.getTextLines(); let i = index;"
              [attr.x]="node.position.x + node.width / 2"
              [attr.y]="node.position.y + i * 24 + 20"
              text-anchor="middle"
              style="font-size: 16px">
      {{line}}
    </svg:text>
  </svg:g>

  <svg:g *ngIf="editService.getEditable() == node">
    <svg:text *ngFor="let line of node.getTextLines(); let i = index;"
              [attr.x]="node.position.x + node.width / 2"
              [attr.y]="node.position.y + i * 24 + 20"
              text-anchor="middle"
              style="font-size: 16px"
              (click)="setActive(i)"
              [ngStyle]="{'fill': editService.getActiveLineIndex() == i ? 'red' : 'black'}">
      {{line}}
    </svg:text>
  </svg:g>

  <svg:line [attr.x1]="node.position.x"
            [attr.x2]="node.position.x + node.width"
            [attr.y1]="node.position.y + (node.firstLine + 1) * 24"
            [attr.y2]="node.position.y + (node.firstLine + 1) * 24"
            style="stroke: black; stroke-width: 2px">
  </svg:line>
</svg:g>
