<div class="row p-3">
  <ul class="nav nav-pills nav-fill w-100">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: inSelectMode()}" (click)="setMode(ModeType.Select)" href="#">Select (1)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: inCreateMode()}" (click)="setMode(ModeType.Create)" href="#">Create (2)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active: inMoveMode()}" (click)="setMode(ModeType.Move)"  href="#">Move (3)</a>
    </li>
  </ul>
</div>
