<svg:polyline *ngIf="node"
              [attr.points]="node.getSVGPoints()"
              style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.0;stroke-opacity:0.9"
              (mousedown)="handleMouseDown($event)"
>
</svg:polyline>

<svg:polyline *ngIf="node && node?.hasDoubleBorder"
              [attr.points]="node.getBorderSVGPoints()"
              style="fill:none;stroke:black;stroke-width:2;fill-opacity:0.0;stroke-opacity:0.9"
>
</svg:polyline>

<svg:g *ngIf="node && isInCreateMode()" clickable-attachment-points [node]="node"></svg:g>

<svg:g *ngIf="node && isInSelectMode()" clickable-resize-points [node]="node"></svg:g>

<svg:g basic-node-text [node]="getNode()"></svg:g>
