<div *ngIf="currentEdge">
  <p>An edge is selected! {{currentEdge}}</p>
  Start label: <input type="text" [(ngModel)]="currentEdge.startLabel">
  Middle label: <input type="text" [(ngModel)]="currentEdge.middleLabel">
  End label: <input type="text" [(ngModel)]="currentEdge.endLabel">
  Line Style:
  <select [(ngModel)]="currentEdge.formatter!.lineStyle">
    <option [ngValue]="0">Filled</option>
    <option [ngValue]="1">Dotted</option>
    <option [ngValue]="2">Dashed</option>
  </select>
  Start Style:
  <select [(ngModel)]="currentEdge.formatter!.startStyle">
    <option [ngValue]="0">None</option>
    <option [ngValue]="1">Big Unfilled Arrow</option>
    <option [ngValue]="2">Filled Diamond</option>
    <option [ngValue]="3">Unfilled Diamond</option>
    <option [ngValue]="4">Small Filled Arrow</option>
  </select>
  End Style:
  <select [(ngModel)]="currentEdge.formatter!.endStyle">
    <option [ngValue]="0">None</option>
    <option [ngValue]="1">Big Unfilled Arrow</option>
    <option [ngValue]="2">Filled Diamond</option>
    <option [ngValue]="3">Unfilled Diamond</option>
    <option [ngValue]="4">Small Filled Arrow</option>
  </select>

  <button type="button" class="btn btn-danger" (click)="deleteEdge()">Delete</button>
</div>

<div *ngIf="currentEdgeFormatter">
  <p>An unstructured edge is selected!</p>
  Line Style:
  <select [(ngModel)]="currentEdgeFormatter.lineStyle">
    <option [ngValue]="0">Filled</option>
    <option [ngValue]="1">Dotted</option>
    <option [ngValue]="2">Dashed</option>
  </select>
  Start Style:
  <select [(ngModel)]="currentEdgeFormatter.startStyle">
    <option [ngValue]="0">None</option>
    <option [ngValue]="1">Big Unfilled Arrow</option>
    <option [ngValue]="2">Filled Diamond</option>
    <option [ngValue]="3">Unfilled Diamond</option>
    <option [ngValue]="4">Small Filled Arrow</option>
  </select>
  End Style:
  <select [(ngModel)]="currentEdgeFormatter.endStyle">
    <option [ngValue]="0">None</option>
    <option [ngValue]="1">Big Unfilled Arrow</option>
    <option [ngValue]="2">Filled Diamond</option>
    <option [ngValue]="3">Unfilled Diamond</option>
    <option [ngValue]="4">Small Filled Arrow</option>
  </select>
  <button type="button" class="btn btn-danger" (click)="deleteEdgeFormatter()">Delete</button>
</div>

<div *ngIf="currentNode && currentNode.formatter">
  Width: <input type="number" [(ngModel)]="currentNode.formatter.width">
  Height: <input type="number" [(ngModel)]="currentNode.formatter.height">
  Shape:
  <select [(ngModel)]="currentNode.formatter.shape">
    <option [ngValue]="0">Rectangle</option>
    <option [ngValue]="1">Ellipse</option>1
    <option [ngValue]="2">Diamond</option>
  </select>

  <p>A node is selected! {{currentNode}}</p>
  <button type="button" class="btn btn-danger"(click)="deleteNode()">Delete</button>

</div>

