<app-edge-editor *ngIf="currentEdge" [edge]="currentEdge"></app-edge-editor>

<app-unstructured-edge-editor *ngIf="currentEdgeFormatter" [formatter]="currentEdgeFormatter">

</app-unstructured-edge-editor>

<app-node-editor *ngIf="currentNode" [node]="currentNode"></app-node-editor>
<!--<div *ngIf="currentNode && currentNode.formatter">-->
<!--  Width: <input type="number" [(ngModel)]="currentNode.formatter.width">-->
<!--  Height: <input type="number" [(ngModel)]="currentNode.formatter.height">-->
<!--  Shape:-->
<!--  <select [(ngModel)]="currentNode.formatter.shape">-->
<!--    <option [ngValue]="0">Rectangle</option>-->
<!--    <option [ngValue]="1">Ellipse</option>1-->
<!--    <option [ngValue]="2">Diamond</option>-->
<!--  </select>-->

<!--  <p>A node is selected! {{currentNode}}</p>-->
<!--  <button type="button" class="btn btn-danger"(click)="deleteNode()">Delete</button>-->

<!--</div>-->

